.chat-list {
  display: flex;
  flex-direction: column;
  background-color: blanchedalmond;
  height: 50%;
  width: calc(20%);
  align-self: baseline;
}

.chat-item {
  border: 1px solid gray;

  .chat-date {
    display: inline-block;
    span {
      font-size: 0.7em;
      display: inline-block;
    }
  }

  .chat-name {
    font-size: 1.1em;
    padding-right: 0.5em;
    display: inline-block;
  }

  & a {
    text-decoration: none;
    color: gray;

    &:hover {
      transform: scale(1.1);
      //transition: 0.1s;
      color: goldenrod;
      font-weight: 800;
    }
  }

  .remove-button {
    position: relative;
    right: -33px;
    height: 50%
  }
}
